<?xml version="1.0"?>

        <!DOCTYPE hibernate-configuration PUBLIC

        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!--  Database connection settings  -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/db</property>
        <property name="connection.username">root</property>
        <property name="connection.password">P@ssw0rd</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!--  Echo all executed SQL to stdout  -->

        <property name="show_sql">true</property>

        <!--  Drop and re-create the database schema on startup  -->
        <property name="hbm2ddl.auto">create</property>
        <property name="hbm2ddl.auto">delete</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="model.Employee"/>
        <mapping class="model.Department"/>
        <mapping class="model.Publisher"/>
        <mapping class="model.Book"/>
        <mapping class="model.Author"/>

    </session-factory>

</hibernate-configuration>